<!DOCTYPE html>
<html>

<head>
	<title>News Assistant</title>
	<link rel="stylesheet" href="static/stylesheets/title.css">
	<link rel="stylesheet" href="static/stylesheets/2column.css">
</head>

<body>
	<div>
		<div id="header">
			<a href="/" id="logo">News Assistant</a>
			<ul id="menu">
				<li><a href="/"><span>Home</span></a></li>
				<li><a href="/"><span>Tutorials</span></a></li>
				<li><a href="/"><span>Articles</span></a></li>
				<li><a href="/"><span>About me</span></a></li>
				<li><a href="/"><span>Contact</span></a></li>
			</ul>
		</div>
	</div>

	<div class="section_client-info">
		<div class="column_client-info">
			<a id="portfolio">Portfolio</a>
			<ul>
				{% for stock in portfolio %}
					<li>{{ stock }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="column_client-info">
			<a id="tailored_top_picks">Tailored Top Picks</a>
			<ul>
				{% for pick in picks %}
					<li> {{pick}} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class='single-column'>
		<a>Portfolio History</a>
		<ul>
			{% for hist in history %}
				<li> {{hist}} </li>
			{% endfor %}
		</ul>
	</div>
</body>

</html>