<!DOCTYPE html>
<html>

<head>
	<title>News Assistant</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/title.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/2column.css') }}">
</head>

<body>
	<div>
		<div id="header">
			<a href="/" id="logo">News Assistant</a>
			<ul id="menu">
				<li><a href="/"><span>Home</span></a></li>
				<li><a href="/"><span>Tutorials</span></a></li>
				<li><a href="/"><span>Articles</span></a></li>
				<li><a href="/"><span>About me</span></a></li>
				<li><a href="/"><span>Contact</span></a></li>
			</ul>
		</div>
	</div>
</body>

<div class="row">
	<div class="column">
		example example example
	</div>
	<div class="column">
		example example example
	</div>
</div>

</html>